body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: skyblue;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(skyblue,blue);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image:url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position:right ;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
   
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-position: left;
 background-repeat: no-repeat;
}
h2{
    font-size: 40px;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(purple,pink);
    border-image-slice: 1;
}
#web-dev1{
    border-left: 7px solid;
    border-image: linear-gradient(red,pink);
    border-image-slice: 1;
}
footer{
    text-align: center;
    margin-bottom: 50px;
}